body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

* {
  font-family: "Playwrite CL", cursive;
}

h1 {
  transform: rotate(5deg);
  margin-bottom: 40px;
}

.timer-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.timer-display {
  font-size: 32px;
  margin-bottom: 20px;
}

.timer-controls button {
  background: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;

  transition: background 0.3s;
}

.timer-controls button:hover {
  background: #0056b3;
}

.laps {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.laps div {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
}